img{
    max-height: 200px;
}

h1{
    text-align: center;
    padding-bottom: 30px;
}

#termekLista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}